<div class="container">
  @if (isLoading) {
  <div class="overlay"></div>
  <div class="loader-container">
    <div class="loader"></div>
    <div class="loader-text">Loading...</div>
  </div>
  }
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card weather-card shadow-lg text-center">
        <h1 class="text-center mt-4 px-5">Weather App</h1>
        <app-input-component (getweather)="getWeather($event)" />
        <app-display-component
          *ngIf="weatherData"
          [weatherData]="weatherData"
          (refresh)="refreshWeather()"
        />
      </div>
    </div>
  </div>
</div>
